 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;800;900&display=swap');

 * {
     font-family: 'Open Sans', sans-serif;
 }

 /*nav section start*/

 .nav-container {
     display: flex;
     justify-content: space-between;
 }

 .text-primary {
     color: #FF5400;
 }

 .nav-title {
     font-size: 36px;
     font-weight: 800;
     margin-right: auto;
 }

 .group40071 {
     width: 48px;
     height: 56.008px;
     margin-bottom: 25px;
 }

 .nav-container ul {
     display: flex;
 }

 .nav-container li {
     list-style: none;
     margin: 44px;
     font-size: 18px;
     font-weight: 400;
 }

 /*nav section end*/

 /*banner section start*/
 .banner {
     background: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
     width: 1170px;
     height: 500px;
     flex-shrink: 0;
     border-radius: 16px;
     margin: auto;
 }

 .banner-title {
     color: #FFF;
     font-size: 45px;
     font-weight: 800;
     text-align: center;
     padding: 35px 287px 10px 287px;
 }

 .banner-description {
     color: #FFF;
     text-align: center;
     font-size: 20px;
     font-weight: 400;
     line-height: 26px;
     padding: 0px 250px 2px 250px;
 }

 .btn-primary {
     display: inline-flex;
     padding: 16px;
     align-items: flex-start;
     gap: 24px;
     border-radius: 8px;
 }

 .btn-primary-s {
     background-color: #FF5400;
     display: inline-flex;
     padding: 16px;
     align-items: flex-start;
     gap: 24px;
     border-radius: 8px;
 }

 /*banner section end*/

 /*description*/
 .tours {
     color: #131318;
     text-align: center;
     font-size: 40px;
     font-weight: 800;
 }

 .description {
     color: rgba(19, 19, 24, 0.70);
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     padding: 10px 90px 0px 70px;
 }

 .image4 {
     float: right;
     width: 540px;
     height: 550px;
     border-radius: 16px;
     padding: 10px 70px 10px 90px;
 }

 .btn-primary-s {
     width: 174px;
     height: 52px;
 }

 /*description*/

 .Destination {
     color: #131318;
     text-align: center;
     font-size: 40px;
     font-weight: 800;
     height: 2px;
     padding-top: 80px;
 }

 .interests {
     color: rgba(19, 19, 24, 0.70);
     text-align: center;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     margin-top: 70px;
     padding: 10px 70px 10px 90px;
 }